<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="InfraccionesEntities" connectionString="metadata=res://*/Papeletas.csdl|res://*/Papeletas.ssdl|res://*/Papeletas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Infracciones;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Test_Final.Properties.Settings.InfraccionesConnectionString"
      connectionString="Data Source=.;Initial Catalog=Infracciones;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioPapeletas" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://c203-04redes/WCFFinal_Rios/WCF_Final_01.ServicioPapeletas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPapeletas"
        contract="Papeletas.IServicioPapeletas" name="BasicHttpBinding_IServicioPapeletas" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Test_Final.ServicioPapeletas">
        <endpoint address="" binding="basicHttpBinding" contract="Test_Final.IServicioPapeletas">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Test_Final/ServicioPapeletas/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>